.flexcontainer {
    display: flex;
    flex-direction: row;
}

.flexchild1{
    width:30%;
    color:blue;
}

.flexchild2{
    width:30%;
}

.blogPostContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
}

.profileContainer{
    flex-grow: 2;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flexcontainer {
      flex-direction: column;
    }
}