.profileContainer{
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    border-radius: 9999px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}